In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [2]:
Capstone = pd.read_csv('capstone 2.csv')

In [3]:
Capstone.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#Observation..
(write out your observation on the file details for both Columns and Rows).

## 1
## Section 1(a) 
Analyse data types of features.
## 1(b)
Check for null values data and remove if any with appriopriate method

In [4]:
Capstone.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

# Observation should be noted on these datatypes,

In [10]:
## convertion Total charges to a Float datatype
Capstone["TotalCharges"] = pd.to_numeric(Capstone["TotalCharges"],errors='coerce')

In [11]:
#checking the datatype of TotalCharges
Capstone["TotalCharges"].dtype

dtype('float64')

##observation on SeniorCitizen datatype
the datatype should be on category datatype while it's on integar datatype

In [14]:
## Converting SenuiorCitizen datatype to Category datatyp
Capstone["SeniorCitizen"] = Capstone["SeniorCitizen"].astype("category")

In [16]:
Capstone["SeniorCitizen"].dtype

CategoricalDtype(categories=[0, 1], ordered=False)

In [17]:
## Section 1(b)

In [21]:
Capstone.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure              18
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity      28
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       5
TotalCharges        11
Churn                0
dtype: int64

In [19]:
## observation of null values should be notes examples tenure=18, Onlinesecurity=28 and so on....

In [24]:
## Dropping the null values
Capstone.dropna(inplace=True)

In [25]:
## Checking for Null values to be sure it as taken place
Capstone.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64